/* 
   Universidad del Valle de Guatemala 
   Autora: Andrea Maria Cordon Mayen
   Carne: 16076
   Fecha: 10/08/2018
   weatherPage.css 
*/

@import url('https://fonts.googleapis.com/css?family=Comfortaa');

.weatherPage {
    overflow: hidden;
    height: 58rem;
    width: 118rem;
    padding: 1rem; 
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background: gray;
}

.upperBar {
    height: 30rem;
    width: 100%;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    font-family: Comfortaa;
    background: firebrick;
}

.title {
    margin-top: 2rem;
    font-size: 4rem;
}

.city {
    margin: 0;
    font-size: 3rem;
}

.temperature {
    font-size: 4rem;
}


.inputSpace {
    height: 6rem;
    width: 118rem;
    margin: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Comfortaa;
    font-size: 0.5rem;
    background: blue;
}

.goButton {
    height: 3rem;
    width: 8rem;
    font-family: Comfortaa;
    font-size: 2rem;
}