/* 
   Universidad del Valle de Guatemala 
   Autora: Andrea Maria Cordon Mayen
   Carne: 16076
   Fecha: 10/08/2018
   icons.css 
*/

.icon {
    height: 6rem;
    width: 6rem;
    border: 4px;
    border-color: black;
}

/*.icon.sunny {
    
}

.icon.rainy {
    
}

.icon.cloudy {
    
}

.icon.night {
    
}*/
